*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(
        to right,
        #4f46e5,
        #7c3aed
    );

    min-height: 100vh;
    padding: 40px 20px;

}

.app{

    max-width: 1100px;
    margin: auto;

}

.app__title{

    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-size: 40px;

}

/* FORM */

.app__form{

    background-color: white;

    padding: 25px;
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

    gap: 15px;

    margin-bottom: 40px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

.app__form input{

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;

}

.app__form button{

    border: none;
    background-color: #4f46e5;
    color: white;

    border-radius: 6px;
    cursor: pointer;

    transition: 0.3s;

}

.app__form button:hover{

    background-color: #372fcf;

}

/* PRODUCTS */

.app__products{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

    gap: 25px;

}

.product{

    background-color: white;

    padding: 25px;
    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    transition: 0.3s;

}

.product:hover{

    transform: translateY(-8px);

}

.product__name{

    margin-bottom: 15px;
    color: #333;

}

.product__detail{

    margin-bottom: 10px;
    color: #555;

}

.product__total{

    margin-top: 15px;
    margin-bottom: 20px;

    font-weight: bold;
    color: #4f46e5;

}

.product__btn{

    width: 100%;

    padding: 12px;
    border: none;

    background-color: #ef4444;
    color: white;

    border-radius: 6px;
    cursor: pointer;

    transition: 0.3s;

}

.product__btn:hover{

    opacity: 0.85;

}

.app__empty{

    text-align: center;
    color: white;
    font-size: 20px;

}

/* RESPONSIVE */

@media(max-width: 600px){

    .app__title{

        font-size: 30px;

    }

}